.specificationValue {
    font-size: 13px;
    color: #303030;
    line-height: 20px;
    white-space: break-spaces;
}

.specificationName {
    font-size: 13px;
    font-weight: bold;
    color: #303030;
}